* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, monospace;
    color: #000;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

::selection {
  background-color: #D94444; /* fundo da seleção */
  color: #fff;              /* cor do texto selecionado */
}