@media(max-width: 624px) {
    .logo .text {
        font-size: 9.4px;
    }

    .menu .item {
        width: 50px;
        padding: 16px 38px;
    }

    .menu a {
        font-size: 9px;
    }

    .btn-cta {
        font-size: 11.5px;
    }

    .home,
    .about,
    .student,
    .faq {
        flex-direction: column;
        gap: 40px;
        background-color: #222;
        padding-bottom: 40px;
    }

    .home .text,
    .about .text,
    .student .text,
    .faq .text {
        font-size: 9.8px;
    }

    .home .content,
    .about .content {
        padding: 0 70px;
    }

    .home .img-left {
        display: none;
    }

    .home .img-left,
    .home .img,
    .about .img {
        width: 190px;
    }

    .about .container {
        flex-direction: column;
        gap: 20px;
    }

    .about .container .content,
    .student .content {
        padding: 0 60px;
    }

    .about .container .img {
        width: 250px;
        height: 283px;
        margin-top: 60px;
    }

    .student .img-conego {
        width: 305px;
    }

    .faq {
        /* 120px para "respeitar" o cabeçalho */
        background-color: #222;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .faq.painel.selecionado {
        display: flex;
        opacity: 1;
    }

    .faq .headline {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .faq .questions {
        align-items: center;
    }

    .faq .question {
        width: 340px;
    }

    .faq .title{
        font-size: 9px;
        height: 34px;
    }

    

}

@media(min-width: 625px) and (max-width: 1024px) {
    .faq .questions {
        justify-content: center;
    }
}