@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund+Guides&display=swap');


/* --- HEADER GERAL --- */
.header {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0 0 0;
    gap: 26px;
    height: 190px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.logo .img {
    width: 60px;
    display: inline-block;
    transition: transform 0.8s ease-in-out;
}

.logo .img:hover {
    transform: rotate(360deg);
    filter: drop-shadow(0 0 .5rem #D94444);
}

/* --- TEXTO DA LOGO COM UNDERLINE DE CARREGAMENTO --- */
.logo .text {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 4px;
    font-size: 11px;
}

.logo .text::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #D94444;
    transition: width 0.3s ease;
}

.logo .text:hover::after {
    animation: loadingBar 1.2s forwards;
}

@keyframes loadingBar {
    0% {
        width: 0;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

.logo .title {
    color: #eee;
}

.logo .sub-title {
    color: #D94444;
    font-weight: 600;
}

/* --- MENU --- */
.container-nav {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -30px;
}

.navegation {
    display: flex;
    justify-content: center;
    max-width: 640px;
    position: relative;
    z-index: 1;
}

.menu {
    display: flex;
    position: relative;
}

.menu .item {
    padding: 20px 70px;
    width: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.menu .item:hover {
    background-color: #eee;
}

.menu .item a {
    font-size: 13px;
    font-weight: 600;
    color: #333;
    transition: .4s ease-in-out;
}

.menu .item a:hover {
    color: #D94444;
}

/* --- UNDERLINE DESLIZANTE --- */
.menu .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #D94444;
    box-shadow: 0 0 8px #D94444, 0 0 16px #ff5e5e;
    transition: all 0.3s ease;
    border-radius: 2px;
}

.menu .item:hover~.underline {
    width: 100px;
    transform: translateX(calc(var(--i) * 100%));
}

.main {
    margin-top: -30px;
}

/* --- HERO --- */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 760px;
    width: 100%;
    background-color: #111;
    gap: 120px;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    width: 460px;
}

/* estado inicial */
.hero .headline,
.hero .text,
.hero .btn-cta {
    opacity: 0;
    transform: translateY(30px);
    /* todos começam levemente de baixo */
}

.hero .headline,
.text {
    text-align: center;
    color: #fff;
    transition: .8s ease-in-out;
}

.hero .headline {
    font-size: 32px;
    font-family: "Playwrite DE Grund Guides", cursive;
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: 0.2s;
    /* começa quase de imediato */
}

/* .hero .content .headline:hover {
    color: #D94444;
} */

.hero .text {
    font-size: 14px;
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: 0.6s;
    /* entra depois do título */
}

/* .hero .content .text:hover {
    color: #D94444;
} */

.btn-cta {
    position: relative;
    display: inline-block;
    padding: 14px 40px;
    border: 2px solid #fff;
    cursor: pointer;
    color: #fff;
    transition: .8s ease-in-out;
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: 1s;
    /* entra por último */
}

.btn-cta:hover {
    border: 2px solid #D94444;
    color: #D94444;
}

.hero .img {
    width: 250px;
    transition: .8s ease-in-out;
}

.hero .img-left {
    width: 264px;
    transition: .9s ease-in-out;
}

.float:hover {
    transition: transform 0.3s ease-in-out;
    filter: drop-shadow(0 0 10px #D94444);
}

/* animação de entrada + flutuação */
.programmer-left {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease forwards, float 2.8s ease-in-out infinite;
    animation-delay: 0.2s, 1s;
    /* entra primeiro */
}

.programmer-right {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease forwards, float 2.8s ease-in-out infinite;
    animation-delay: 0.4s, 1.8s;
    /* entra logo depois */
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 960px;
    background-color: #222;
    gap: 140px;
}

.about .container .img {
    width: 302px;
    height: 453px;
    border: 2px solid #D94444;
    transition: .8s ease-in-out;
}

.hero .headline,
.hero .text,
.hero .btn-cta {
    opacity: 0;
    transform: translateY(30px);
    /* todos começam levemente de baixo */
}

.about .icons {
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 100px;
    border: 2px solid #D94444;
    padding: 0 100px;
}

.about .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.about .icon .img {
    width: 26px;
    transition: .8s ease-in-out;
}

.about .icon .text {
    font-size: 11px;
}

.about .container {
    display: flex;
    gap: 130px;
}

.about .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 460px;
}

.about .headline,
.text {
    text-align: center;
    color: #fff;
    transition: .8s ease-in-out;
}

.about .headline {
    font-size: 30px;
    font-family: "Parisienne", cursive;
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: 0.2s;
    /* começa quase de imediato */
}

.about .text {
    font-size: 14px;
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: 0.6s;
}

/* keyframes do fade */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* keyframes da flutuação */
@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-16px);
    }
}