/* --- HEADER GERAL --- */
.header {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0 0 0;
    gap: 26px;
    height: 190px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.logo .img {
    width: 60px;
    display: inline-block;
    transition: transform 0.8s ease-in-out;
}

.logo .img:hover {
    transform: rotate(360deg);
    filter: drop-shadow(0 0 .5rem #D94444);
}

/* --- TEXTO DA LOGO COM UNDERLINE DE CARREGAMENTO --- */
.logo .text {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 4px;
    font-size: 11px;
}

.logo .text::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #D94444;
    transition: width 0.3s ease;
}

.logo .text:hover::after {
    animation: loadingBar 1.2s forwards;
}

@keyframes loadingBar {
    0% {
        width: 0;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

.logo .title {
    color: #eee;
}

.logo .sub-title {
    color: #D94444;
    font-weight: 600;
}

/* --- MENU --- */
.container-nav {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -30px;
}

.navegation {
    box-shadow: #fff 0px 1px 4px;
    display: flex;
    justify-content: center;
    max-width: 640px;
    position: relative;
    z-index: 1;
}

.menu {
    display: flex;
    position: relative;
}

.menu .item {
    padding: 20px 70px;
    width: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.menu .item:hover {
    background-color: #eee;
}

.menu .item a {
    font-size: 13px;
    font-weight: 600;
    color: #333;
}

/* --- UNDERLINE DESLIZANTE --- */
.menu .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #D94444;
    box-shadow: 0 0 8px #D94444, 0 0 16px #ff5e5e;
    transition: all 0.3s ease;
    border-radius: 2px;
}

.menu .item:hover~.underline {
    width: 100px;
    transform: translateX(calc(var(--i) * 100%));
}

.main {
    margin-top: -30px;
}

/* --- HERO --- */
.main .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 760px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #111;
    gap: 80px;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 600px;
}

.hero .content .headline,
.text {
    text-align: center;
}

.hero .content .headline {
    font-size: 32px;
    font-family: versa;
    color: #D94444;
}

.hero .content .text {
    font-size: 14px;
    color: #fff;
}

.hero .content .btn {
    height: 50px;
    width: 200px;
    padding: 12px;
}

.hero .img {
    width: 250px;
    transition: .9s ease-in-out;
}

.hero .img-left{
    transform: rotateY(180deg);
    width: 264px;
    transition: .9s ease-in-out;
}

.float:hover{
    transition: transform 0.3s ease-in-out;
    animation: float 2.8s ease-in-out infinite;
    filter: drop-shadow(0 0 10px #D94444);
}

@keyframes float{

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-16px);
    }
}

.float-left:hover{
    transition: transform 0.3s ease-in-out;
    animation: float 2.8s ease-in-out infinite;
    filter: drop-shadow(0 0 10px #D94444);
}

/* @keyframes float-left{

    0%,
    100% {
        transform: translateY(0px) rotateY(180deg);
    }

    50% {
        transform: translateY(-16px) rotateY(180deg);
    }
} */