@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund+Guides&display=swap');

html,
body {
    height: 100%;

    /* background-image: url('../img/bg-dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* igual às seções */
}

/* --- HEADER INDEX --- */
.header {
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0 0 0;
    gap: 26px;
    height: 190px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.logo .img {
    width: 60px;
    display: inline-block;
    transition: transform 0.8s ease-in-out;
    animation: logoLoad 1.5s ease forwards;
    /* roda 1 vez ao carregar */
}

/* Classe especial que dispara a animação */
.logo .img.animate-once {
    animation: logoLoad 1.5s ease forwards;
}

/* --- TEXTO DA LOGO COM UNDERLINE DE CARREGAMENTO --- */
.logo .text {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 6px;
    font-size: 11px;
}

.logo .text::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #D94444;
}

/* classe que dispara a animação */
.logo .text.animate-underline::after {
    animation: underlineLoad 1.2s forwards;
}


.logo .title {
    color: #eee;
}

.logo .sub-title {
    color: #D94444;
    font-weight: 600;
}

/* --- MENU --- */
.container-nav {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -30px;
}

.navegation {
    display: flex;
    justify-content: center;
    max-width: 640px;
    position: relative;
    z-index: 1;
}

.menu {
    display: flex;
    position: relative;
}

.menu .item {
    padding: 20px 70px;
    width: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.menu .item:hover {
    background-color: #eee;
}

.menu a {
    font-size: 13px;
    font-weight: 600;
    color: #333;
    transition: .4s ease-in-out;
    letter-spacing: 1.5px;
}

.menu .item a:hover {
    color: #D94444;
}

/* --- UNDERLINE DESLIZANTE --- */
.menu .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #D94444;
    box-shadow: 0 0 8px #D94444, 0 0 16px #ff5e5e;
    transition: all 0.3s ease;
    border-radius: 2px;
}

.menu .item:hover~.underline {
    width: 100px;
    transform: translateX(calc(var(--i) * 100%));
}

.main {
    margin-top: -50px;
}

/* comportamento de troca */
.painel {
    display: none;
    opacity: 0;
    height: auto;
    min-height: auto;
    transition: opacity 0.6s ease;
}

/* painel ativo */
.painel.selecionado {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    /* min-height: 100vh; */
    /* ocupa a tela cheia somente quando ativo */
}

/* Ajuste especial para FAQ */
.faq.painel.selecionado {
    display: flex;
    /* fica visível apenas quando selecionado */
    flex-direction: column;
    align-items: center;
    /* min-height: 100vh; */
}

.btn-cta {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    padding: 14px 40px;
    border: 2px solid #fff;
    cursor: pointer;
    color: #fff;
    transition: .8s ease-in-out;
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: 1s;
    /* entra por último */
}

/* Garanta que o conteúdo fique acima do canvas */
.header,
.container-nav,
.main,
.header-devs {
    position: relative;
    z-index: 1;
}

/* --- HERO --- */

/* a seção que contém os painéis */
.hero {
    min-height: calc(100vh - var(--top-h));
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

/* Canvas ocupa a tela toda e fica atrás do conteúdo, porém visível */
#bgParticles {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* em vez de -1 */
    background: #222;
    /* cor-base do site */
}

.home,
.school {
    width: 100%;
    /* background-color: #222; */
    gap: 120px;
}

.home .content,
.school .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 460px;
}

/* estado inicial */
.home .headline,
.home .text,
.home .btn-cta {
    opacity: 0;
    transform: translateY(30px);
    /* todos começam levemente de baixo */
}

.home .headline,
.text {
    text-align: center;
    color: #fff;
    transition: .8s ease-in-out;
}

.home .headline,
.school .headline {
    color: #D94444;
    font-size: 38px;
    font-family: "Parisienne", cursive;
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: 0.2s;
    /* começa quase de imediato */
}

.home .text {
    font-size: 12px;
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: 0.6s;
    /* entra depois do título */
}

.btn-cta:hover {
    border: 2px solid #D94444;
    color: #D94444;
}

.home .img {
    width: 250px;
    transition: .9s ease-in-out;
    transform: translateY(30px);
}

.home .img-left {
    width: 264px;
    transition: .9s ease-in-out;
    transform: translateY(30px);
}

.float:hover {
    transition: transform 0.3s ease-in-out;
    filter: drop-shadow(0 0 10px #D94444);
}

/* estado inicial das imagens */
.programmer-left,
.programmer-right {
    /* opacity: 0; */
    transform: translateY(30px);
}

/* ajustes de delay individuais */
.img-left.programmer-left {
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.2s;
}

.img.programmer-right {
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.6s;
}

/* no hover só aplica a flutuação, sem resetar opacidade */
.programmer-left:hover,
.programmer-right:hover {
    animation: float 2.8s ease-in-out infinite;
}


.about .container {
    display: flex;
    align-items: center;
}

.about .container .img {
    width: 400px;
    height: 452px;
    border: 2px solid #D94444;
    transition: .8s ease-in-out;
    transform: translateY(30px);
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.6s;
}

.about .container .img:hover {
    animation: fadeInUp 1s ease forwards, float 2.8s ease-in-out infinite;
    filter: drop-shadow(0 0 10px #D94444);
}

.about .headline,
.about .text,
.about .btn-cta {
    opacity: 0;
    transform: translateY(30px);
    /* todos começam levemente de baixo */
}

.about .icons {
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 100px;
    border: 2px solid #D94444;
    padding: 0 100px;
}

.about .icons:hover {
    transition: .8s ease-in-out;
    animation: float 2.8s ease-in-out infinite;
}

.about .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.about .icon .img {
    width: 26px;
    transition: .8s ease-in-out;
}

.about .icon .text {
    font-size: 11px;
}

.about .container {
    display: flex;
    gap: 130px;
}

.about .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 460px;
}

.about .headline,
.text {
    text-align: center;
    color: #fff;
    transition: .8s ease-in-out;
}

.about .headline {
    color: #D94444;
    font-size: 40px;
    font-family: "Parisienne", cursive;
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: 0.2s;
    /* começa quase de imediato */
}

.about .text {
    font-size: 12px;
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: 0.6s;
}

/* estado inicial */
.school .headline,
.school .text,
.school .btn-cta {
    opacity: 0;
    transform: translateY(30px);
    /* todos começam levemente de baixo */
}

.school .img-conego {
    width: 660px;
    border: 2px solid #D94444;
    transform: translateY(30px);
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.6s;
}

.school .img-conego:hover {
    animation: fadeInUp 1s ease forwards, float 2.8s ease-in-out infinite;
}

.school .headline,
.text {
    text-align: center;
    transition: .8s ease-in-out;
}

.school .text {
    color: #fff;
    font-size: 12px;
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: 0.6s;
    /* entra depois do título */
}

.faq .headline,
.faq .text,
.faq .title {
    opacity: 0;
    transform: translateY(30px);
    /* todos começam levemente de baixo */
}

.faq .headline,
.text {
    text-align: center;
    color: #fff;
    transition: .8s ease-in-out;
}

.faq .headline {
    font-family: "Parisienne", cursive;
    color: #D94444;
    font-size: 40px;
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: 0.2s;
    margin-bottom: 32px;
}

.faq .questions {
    display: flex;
    max-width: 1300px;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.faq .question {

    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: center;
    border: 2px solid #111;
    padding: 20px;
    width: 400px;
    height: 200px;
    /* mantém no centro */
    margin: 0 auto;

}

.faq .question:hover {
    border: 2px solid #D94444;
}

.faq .question:hover .text {
    color: #fff;
    font-weight: 600;
}

.faq .title {
    color: #222;
    font-weight: 600;
    padding: 12px;
    width: 100%;
    height: 40px;
    font-size: 11.5px;
    transition: .4s ease-in-out;
    text-align: center;
    background-color: #fff;
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: 0.4s;
}

.faq .text {
    color: #999;
    font-size: 11px;
    font-weight: 600;
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: 0.6s;
}

.student{
    gap: 100px;
}

.student .devs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student .title{
    font-family: "Parisienne", cursive;
    color: #fff;
    font-size: 30px;
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: 0.2s;
    margin-bottom: 12px;
}

.student .underline{
    border-bottom: 2px solid #D94444;
    width: 460px;
}

.student .icons{
    display: flex;
    justify-content: center;
    max-width: 680px;
    flex-wrap: wrap;
    padding-top: 28px;
    gap: 18px;
}

.student .icons .icon{
    width: 70px;
    transition: .5s ease-in-out;
    border: 1.5px solid #444;
}

.student .icons .icon:hover{
    border: 1.5px solid #D94444;
    filter: drop-shadow(0 0 10px #D94444);
    scale: 1.13;
}

.cards {
  position: relative;
  width: 500px;
  height: 620px;
}

.card {
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.6s ease;
  pointer-events: none;
}

.card.selecionado {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.student .card{
    background-color: #111;
    height: 610px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px;
    transition: .6s ease-in-out;
}



.student .card:hover{
    /* border: 2px solid #D94444; */
    filter: drop-shadow(0 0 10px #D94444);
}

.card .img{
    width: 100%;
    border: 2px solid #D94444;
    filter: drop-shadow(0 0 10px #D94444);
}

.card .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .title{
    color: #222;
    font-weight: 600;
    padding: 12px;
    letter-spacing: 3px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    transition: .4s ease-in-out;
    text-align: center;
    background-color: #fff;
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: 0.4s;
    margin-top: 42px;
    font-family: montserrat, monospace;
}

.card .text{
    color: #999;
    font-size: 12px;
    font-weight: 600;
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: 0.6s;
    margin: 12px 0;
}

.card:hover .text {
    color: #fff;
    font-weight: 600;
}

.card .social{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.card .icon{
    width: 32px;
}

.card .icon:hover{
    transition: transform 0.8s ease-in-out;
    animation: logoLoad 1.5s ease forwards;
}



@keyframes logoLoad {
    0% {
        transform: rotate(0deg);
        filter: drop-shadow(0 0 0 #D94444);
    }

    50% {
        transform: rotate(360deg);
        filter: drop-shadow(0 0 8px #D94444);
    }

    100% {
        transform: rotate(360deg);
        filter: drop-shadow(0 0 0 #D94444);
    }
}

@keyframes underlineLoad {
    0% {
        width: 0;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes loadingBar {
    0% {
        width: 0;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

/* keyframes do fade */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* keyframes da flutuação */
@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-16px);
    }
}